/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

html {
    width: 100%;
}

* {
    box-sizing: border-box;
}

fieldset {
    width: 100%;
    border: none;
}

.mensaje-error {
    margin: 1em;
    background-color: rgba(247, 107, 107, 0.582);
}


body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/


h2 {
    font-weight: 700;
    font-size: 37px;
    color: #464646;
    margin: 1em 0;
}

button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.disable {
    opacity: 0.2;
}

.disable:hover {
    cursor: not-allowed;
    opacity: 0.2;
}

/*Sección Menu*/
section.menu {
    display: flex;
    padding: 20px 32px;
    justify-content: space-between;
    align-items: center;

    .menu__header {
        display: flex;
        align-items: center;

        img {
            height: 24px;
            padding-right: 0.5em;
            transition: all 0.5s;
        }

        img:hover {
            box-shadow: inset 5em 1em gold;
        }

    }

    .menu__title {
        font-size: 16px;

    }


    .menu__list {
        display: flex;
        gap: 32px;


        border-bottom: 2px solid transparent;
        transition: ease 0.5s;
    }


    .menu__list__item {
        font-weight: 500;
        font-size: 16px;
        color: red;
        border-bottom: 2px solid transparent;
        transition: ease 0.5s;
    }

    .menu__list__item:hover {
        border-bottom: 2px solid gray;
    }
    .menu__list__item__contato {
        font-weight: 700;

    }

}


/*Sección Title*/

section.title {
    display: flex;
    flex-wrap: wrap;

    .title__div {
        display: flex;
        flex-wrap: wrap;
        flex-flow: row-reverse;
        min-width: 100%;
        justify-content: space-between;
        margin: auto;
        padding: 20px 32px;
    }

}


.title__profile {
    height: min(30%, 368px);
    width: min(30%, 368px);
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.title__container {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    padding-right: 2em;

}

.title__bio {
    font-size: 52px;
    font-weight: 700;
    color: #464646;

}

.title__subsection {
    font-size: 22px;
    font-weight: 400;
    line-height: 25.83px;
    color: #464646;
}

.title__network {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 32px;
    padding: 0;
    color: #464646;

}

.title__network__item {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.78px;

    border-bottom: 2px solid transparent;
    transition: ease 0.5s;
}

.title__network__item:hover {
    transform: translateY(-0.5em);
    border-bottom: 2px solid gray;
}

/*Sección About*/

section.about {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    background-color: #EAF2FD;
    align-items: center;
    padding-top: 1em;

    .about__title {
        padding: 0;
        margin: 0;
    }

    .about__container {
        width: 100v;
        font-weight: 700;
        font-size: 32px;
        line-height: 37.57px;
        color: #464646;
        text-wrap: wrap;
        padding: 0 0.5em;
    }


    .about__paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 18.78px;
        color: #464646;
        width: 70%;
    }
}

/*Sección Skills*/

section.skills,
section.hobbies {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 1em 0 3em 0;

    .skills__title,
    .hobbies__title {
        font-size: 32px;
        line-height: 37.57px;
        color: #464646;

    }

    .skills__line,
    .hobbies__line {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 1.3em 0.8em;
        padding: 0.3em;

    }


    .skills__box,
    .hobbies__box {
        background-color: white;
        height: 176px;
        width: 174px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0 0 1.2em 0.8em;
        transition: all 1s;

        border: 2px solid transparent;


        .skills__name,
        .hobbies__name {
            font-weight: 700;
            font-size: 16px;
            line-height: 18.78px;
            color: #464646;
        }
    }

    .skills__box:hover,
    .hobbies__box:hover {
        border: 2px solid gray;
    }


}

/* Experiencia Académica*/

section.academic {
    background-color: #EAF2FD;
    padding: 2em 0;
    display: flex;
    padding-top: 2em;
    flex-flow: column wrap;
    text-wrap: wrap;
    align-items: center;
    justify-content: center;

    h4,
    h5,
    p {
        padding: 0;
        margin: 0;
    }



    .academic__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 37.57px;
        margin: 32px 0px;
    }

    .academic__courses {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 100%;

        .academic__courses__box {


            .academic__courses__list {
                display: flex;
                flex-flow: column wrap;
                gap: 8px;
                align-items: center;
            }

            .academic__courses__item__img {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                width: min(100%, 368px);
                height: min(70%, 250px);
                padding: 3em;
            }

            .academic__courses__item__title {
                font-size: 22px;
                font-weight: 700;
                color: #464646;
            }

            .academic__courses__item__subtitle {
                font-size: 16px;
                font-weight: 500;
                color: #464646;
            }
        }
    }


}

/* experiencia*/

section.experience {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: start;
    gap: 64px;
    padding: 2em;

    img {
        transition: all 0.2s;
    }

    img:hover {
        border-radius: 5em;
        border: 2px solid gray;
    }

    .experience__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        width: 80%;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .experience__info-container {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 1em;
    }

    .experience__section__title {
        text-align: center;
        margin: 0;
    }

    .experience__title {
        font-size: 22px;
    }

    .experience__text {
        font-weight: 500;
        font-size: 16px;
    }

    .experiencie__botao--repo {
        border: 1px solid #2A7AE4;
        color: #2A7AE4;
        padding: 16px;
    }

    .experience__img {
        width: min(70%, 1350px);
        margin: auto;
    }

    .experience__botao--demo {
        border: 1px solid #2A7AE4;
        color: white;
        background-color: #2A7AE4;
        padding: 16px;
        margin-left: 16px;
    }

    .experience__description {
        display: flex;

    }
}

/*Contacto*/

section.formcontato {
    background-color: #EAF2FD;
    padding: 3em;
    height: 100%;

    h2 {
        margin: 0;
    }


    .formcontato__contacto {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
    }


    .formcontato__title {
        font-size: 32px;
        font-weight: 700;
        color: #464646;
    }

    .formcontato__form {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: start;
        gap: 16px;

    }

    .formcontato__input,
    .formcontato__textarea {
        width: 100%;
        border: transparent;
        padding: 2em;
        resize: none;
        outline: none;

    }

    .formcontato__input:focus,
    .formcontato__textarea:focus {
        outline-color: #2A7AE4;
        border-bottom: 2px solid;
        border-color: #2A7AE4;
    }

    .formcontato__botao {
        background-color: #2A7AE4;
        padding: 16px;
        color: white;
    }


}

/*footeer*/

section.footer {
    * {
        margin: 0
    }

    padding: 2em 0;
    background-color: white;

    .footer__rodape {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 10px
    }
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/

@media (max-width: 768px) {
    h3 {
        margin: 0 0 0.5em 0;
    }

    section {
        padding: 0;
        margin: 0;
    }

    /* Menú */
    .menu__list__item {
        display: none;
    }

    /*title*/

    section.title {
        font-size: 32px;


        .title__bio {
            font-size: 32px;
            font-weight: 700;
            color: #464646;
        }

        .title__subsection {
            font-size: 16px;
            font-weight: 400;
            line-height: 25.83px;
            color: #464646;
        }

        .title__profile {
            height: 150px;
            width: 146px;

        }
    }

    /*Sección sobre mi*/
    .about__paragraph {
        min-width: 100%;
    }

    /*Skills*/


    section.skills,
    section.hobbies {

        .skills__box,
        .hobbies__box {
            height: 6.5em;

        }
    }

    /*Hobbies*/
    section.academic {
        .academic__courses {
            .academic__courses__box {

                /*Formación Académica*/
                .academic__courses__item__img {
                    padding: 1em;
                    width: 100%;
                    height: 70%;

                    img {
                        height: 80%;
                    }
                }

                .academic__courses__item__title {
                    font-size: 1em;
                }

                .academic__courses__item__subtitle {
                    font-size: 0.8em;
                }
            }
        }
    }

    section.experience {

        .experience__box {
            flex-direction: column;
        }

        .experience__img {
            width: min(100%, 1350px);
            margin: auto;
        }
    }

    /*Experiencia Profesional*/
    section.formcontato {

        .formcontato__img {
            display: none;
        }
    }

    /*Mobile*/
    @media (width< 425px) {
        h2 {
            font-size: 22px;
        }

        body {
            background-color: gainsboro;
        }

        /*Menu*/
        section {
            margin: 0;
            padding: 0;
        }

        /*Titulo*/
        section.title {

            .title__div {
                display: flex;
                flex-direction: column;
                max-width: 100%;
                padding: 5px;

            }

            .title__profile {
                height: min(30%, 368px);
                width: min(30%, 368px);
                max-width: 100%;
                max-height: 100%;
                margin: 0;
            }

            .title__container {
                max-width: 100%;

            }

            .title__subsection {
                width: 100%;
            }

            .title__network {
                width: 100%;
            }

            .title__bio {
                width: 100%;
                word-wrap: break-word;
                font-size: 22px;


            }

            /*Sección sobre mi*/

            /*Skills*/

            /*Hobbies*/

            /*Formación Académica*/
        }

        section.academic {

            .academic__courses {
                width: 100%;

                .academic__courses__box {
                    width: 100%;
                    padding: 0 2em;

                }
            }
        }

        /*Experiencia Profesional*/
        section.experience {
            gap: 20px;

            .experience__section__title {
                text-align: center;
                margin: 0;
            }
        }

        /*Contacto*/
        section.formcontato {
            .formcontato__img {
                display: none;
            }

            .formcontato__title,
            .formcontato__subtext {
                margin-bottom: 1em;
            }

            input {
                margin: 1em 0;
            }
        }

        /*Footer*/

    }
}